<div class="about-section">
    <h1>About Us Page</h1>
    <p>Santosh Kumar Behera</p>
    <p>Software Engineer</p>
  </div>
  

      <div class="card">
        
        <div class="container">
          <h2>Santosh Kumar Behera</h2>
          <p>Frontend Developer</p>
          <p class="title">skumarb548&#64;gmail.com</p>
          <a href="https://www.linkedin.com/in/santosh-kumar-behera-4790881ab/" target="_blank">LinkedIn</a>
          <div>
          
</div>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
  